@import "../../node_modules/metro/build/css/metro";
@import "../../node_modules/metro/build/css/metro-responsive";
@import "../../node_modules/metro/build/css/metro-schemes";
@import "../../node_modules/metro/build/css/metro-icons";

.login-form {
    width: 25rem;
    position: fixed;
    top: 50%;
    margin-top: -9.375rem;
    left: 50%;
    margin-left: -12.5rem;
    background-color: #ffffff;
    opacity: 0;
    -webkit-transform: scale(.8);
    transform: scale(.8);
}
body{
    background: url('/background.jpg') no-repeat center center;
    background-size: cover;
}